
  nav{
    background-color: #111;
  }
  em{
    color:rgba(236,0,127,1);
  }
  a{
    color:rgba(236,0,127,.75) !important;
    text-decoration: none !important;
  }
  a:hover{
    color:rgba(236,0,127,1) !important;
  }
  .jumbotron {
    margin-top: 10%;
    background-color: #151515 !important;
    color:#fff;
  }
  .display-4{
  color:#fff;
  }
  .jumbotron ul, .jumbotron ol,p{
    margin: 2% !important;
    color: #ccc;
  }
  .display-3, .display-1 ,h3{
    text-align: center;
    color: rgba(236,0,127,1);
  }
  .row{
    padding-bottom: 2%;
  }
  .navbar-nav .nav-link {
  color: rgba(236,0,127,.75) !important;
  transition: all 0.5s ease;
  }
  .navbar-nav .nav-link:hover{
  color: #111 !important;
  background-color: rgba(236,0,127,.5) !important;
  }
  .navbar-brand {
    color: rgba(236,0,127,1) !important;
  }
  .dropdown-menu {
    background-color: #191919 !important;
  }
  .dropdown-item {
      color: rgba(236,0,127,.75) !important;
      transition: all 0.5s ease;
  }
  .dropdown-item:hover {
    color: #191919 !important;
    background-color: rgba(236,0,127,.5) !important;
  }
  .dropdown-divider {
    border-top: 1px solid rgba(236,0,127,.75) !important;
  }
  .navbar-toggler-icon {
    color: white !important;
  }
  .caption{
    font-family: 'Inconsolata', monospace;
    position: relative;
    top: 15%;
    animation: captionanim 4s;
    padding-left: 10%;
  }
  #hamburger{
    color: rgba(236,0,127,.5);
  }
  button:focus {outline:0 !important;}
  body{
    background-color: #000 !important;
    color: rgba(236,0,127,.75) !important;
  }
  html,body,header,#intro{
    height:100%;
  }
  footer{
    color:#ccc;
    background-color: #111;
  }
  #intro{
    background:url(Backg.png)no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
     background-size:cover;
  }

  @keyframes captionanim {
    from{
      opacity : 0;
    }
    to {
      opacity: 1;
    }
  }
